# Ignore local video assets
frontend/public/*.mp4

# Ignore python environment dependencies
venv/
.venv/
__pycache__/
*.pyc

# Ignore frontend dependencies
node_modules/
.env
dist/

# Database & backups
db.sqlite3
db_backup.sqlite3

# Scratch scripts & temporary files
check_db.py
clean_dump.py
datadump.json
datadump_cleaned.json
original_Dashboard.jsx

# Unwanted directories
certificate_design/
benchmark_files/
instructor_dashboard_redesign/